html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 234, 234);
}

header {
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 1px;
}

hr {
  border: solid;
  height: 2px;
  background-color: black;
}

.intro {
  text-align: center;
}

.about-me {
  text-align: center;
}

.curriculum {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.specialty {
  padding-right: 15px;
}

.education {
  padding-left: 15px;
}

.picture {
  text-align: center;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

img {
  height: 30%;
  width: 50%;
}

.past-projects {
  text-align: center;
}

ul {
  text-align: left;
  list-style: inside;
}

.resources > li {
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 5px;
}

.capabilities {
  text-align: center;
}

.contact {
  text-align: center;
}
.socials {
  margin: 20px auto;
  width: 400px;
  text-align: center;
}

/* .item {
  display: inline-block;
  text-align: center;
} */

footer {
  text-align: center;
  font-size: 25px;
  background-color: black;
  color: white;
 
}

@media all and (min-width: 700px) {
  
  

  header {
    display: flex;
    justify-content: center;
  }

  .intro {
    padding-right: 50px;
  }
  
  .picture {
    margin: auto;
    padding: 5px;
    padding-left: 20px;
    display: flex;
  }

  .curriculum {
    display:flex;
    justify-content: center;
  }

  .specialty {
    text-align:left;
    padding-right: 50px;
  }

  .education {
    text-align: left;
    padding-left: 50px;
  }

  .main {
    display: flex;
    justify-content: center;
  }


  .group {
    display: flex;
    flex-direction: column;
    
  }   


}